<!DOCTYPE html>
<html>
<head>
  <title>COVID Vaccine Booking - Admin Dashboard</title>
</head>
<body>
  <h1>Admin Dashboard</h1>
  <% centres.forEach(centre => { %>
    <h3><%= centre.name %></h3>
    <p>Working Hours: <%= centre.workingHours %></p>
  <% }) %>
</body>
</html>
