<h2>Search Vaccination Centers</h2>

<form action="/vaccination-centers" method="GET">
  <input type="text" name="search" placeholder="Search" value="<%= search || '' %>">
  <button type="submit">Search</button>
</form>

<h2>Vaccination Centers</h2>

<% if (centres.length > 0) { %>
  <ul>
    <% centres.forEach(function(centre) { %>
      <li>
        <strong><%= centre.name %></strong><br>
        Working Hours: <%= centre.workingHours %><br>
        <a href="/vaccine-booking?centreId=<%= centre._id %>">Apply for Vaccination Slot</a>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No vaccination centers found.</p>
<% } %>

